<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Product Id="73D766DC-C79D-11DD-9A42-A17956D89593" Name="SuperCollider" Language="1033" Version="3.3.0.0" Manufacturer="James McCartney plus many others, http://supercollider.sourceforge.net/" UpgradeCode="5D5A738E-C844-11DD-9906-59C856D89593">
<Package Id="*" Description="Real-time audio synthesis and algorithmic composition" Comments="Open-source (GPL) software." InstallerVersion="300" Compressed="yes" />
<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />
<Property Id="ARPURLINFOABOUT">http://supercollider.sourceforge.net/</Property>
<Property Id="ARPCOMMENTS">Open-source: published under the Gnu Public License (GPL) v2 or later</Property>

<Condition Message="You need to be an administrator to install software.">Privileged</Condition>
<Condition Message="SuperCollider cannot be installed on Windows versions older than 2000/XP/Vista.">
	Installed OR (VersionNT >= 500)
</Condition>

<!-- Define main directory structure -->
<Directory Id="TARGETDIR" Name="SourceDir">
	<Directory Id="ProgramFilesFolder">
		<!-- SC3INSTALLLOCATION is in caps to make it a "public property", i.e. user-settable -->
		<Directory Id="SC3INSTALLLOCATION" Name="SuperCollider">
			<Directory Id="SCClassLibrary" Name="SCClassLibrary"/>
			<Directory Id="SCpluginsFolder" Name="plugins"/>
			<Directory Id="SCHelpFolder" Name="Help"/>
			<Directory Id="SCsoundsFolder" Name="sounds"/>
			<Directory Id="SCexamples" Name="examples"/>
			<Directory Id="SCextensionsFolder" Name="Extensions"/>
			<Directory Id="SCsynthdefsFolder" Name="synthdefs"/>
		</Directory>
	</Directory>
	<Directory Id="ProgramMenuFolder">
		<Directory Id="ApplicationProgramsFolder" Name="SuperCollider 3" />
	</Directory>

	<Merge Id="VCRedist" SourceFile="/Program Files/Common Files/Merge Modules/Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
	<Merge Id="VCRedistPolicy" SourceFile="/Program Files/Common Files/Merge Modules/policy_9_0_Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
</Directory>

<!-- Now the files to install -->
<DirectoryRef Id="SC3INSTALLLOCATION">
	
	<Component Id="ProductComponent" Guid="CF69B856-C79D-11DD-84EF-AD7E56D89593">
		<!-- Note: python scripts build Psycollider.exe but here we rename it to SuperCollider.exe -->
		<File Id="sclangExecutable" Name="SuperCollider.exe" Source="../common/Psycollider/Psycollider/dist/Psycollider.exe" DiskId="1"></File>
		<File Id="scsynthExecutable" Name="scsynth.exe" Source="../common/build/scsynth.exe" DiskId="1"></File>
		<File Id="w9xpopen" Name="w9xpopen.exe" Source="../common/Psycollider/Psycollider/dist/w9xpopen.exe" DiskId="1"></File>
		<File Id="PySCLang.pyd" Name="PySCLang.pyd" Source="../common/Psycollider/Psycollider/dist/PySCLang.pyd" DiskId="1"></File>
		<File Id="gdiplus.dll" Name="gdiplus.dll" Source="../common/Psycollider/Psycollider/dist/gdiplus.dll" DiskId="1"></File>
		<File Id="libfftw3f" Name="libfftw3f-3.dll" Source="../common/build/libfftw3f-3.dll" DiskId="1"></File>
<!-- These extra DLLs are needed when bundling scons-built rather than MS-built version, so uncomment.
		<File Id="scsynthDll" Name="scsynth.dll" Source="../common/build/scsynth.dll" DiskId="1"></File>
		<File Id="portaudioDll" Name="portaudio_x86.dll" Source="../common/build/portaudio_x86.dll" DiskId="1"></File>
-->
		<File Id="libsndfile" Name="libsndfile-1.dll" Source="../common/build/libsndfile-1.dll" DiskId="1"></File>
		<File Id="keywordslist" Name="keywords.list" Source="keywords.list" DiskId="1"></File>
		<File Id="psycolliderscript" Name="Psycollider.py" Source="../common/Psycollider/Psycollider/Psycollider.py" DiskId="1"></File>
		<File Id="scstartupfile" Name="startup.sc" Source="startup.sc" DiskId="1"></File>
		<File Id="SwingOSC.jar" Name="SwingOSC.jar" Source="../common/build/SwingOSC.jar" DiskId="1"></File>
		
		<!-- env vars -->
		<Environment Id='PsycolliderHome' Name='PSYCOLLIDER_HOME' Action='set' System='yes' Part='all'
					Value='[SC3INSTALLLOCATION]' />
		<Environment Id='ScSystemAppSupportPath' Name='SC_SYSAPPSUP_PATH' Action='set' System='yes' Part='all'
					Value='[SC3INSTALLLOCATION]' />
		<Environment Id='ScPluginPath'    Name='SC_PLUGIN_PATH'   Action='set' System='yes' Part='all'
					Value='[SC3INSTALLLOCATION]plugins' />

		
		<!-- filetype associations -->
		<ProgId Id='SC3.scdfile' Advertise="yes" Description="SuperCollider 3 document">
			<Extension Id="scd" ContentType="x-application/supercollider3">
				<Verb Id='open' Sequence='10' Command='Open' Argument='"%1"'/>
			</Extension>
		</ProgId>
		<ProgId Id='SC3.scfile' Advertise="yes" Description="SuperCollider 3 class file">
			<Extension Id="sc" ContentType="x-application/supercollider3">
				<Verb Id='open' Sequence='10' Command='Open' Argument='"%1"'/>
			</Extension>
		</ProgId>
	</Component>

</DirectoryRef>

<!-- Do not change the comment just below here. It's used for substitution -->
<!-- SUBST:SPLITHERE -->

<DirectoryRef Id="ApplicationProgramsFolder">
	<Component Id="ApplicationShortcut" Guid="7511071E-C90B-11DD-BB90-C59D55D89593">
		<Shortcut Id="ApplicationStartMenuShortcut" Name="SuperCollider 3" 
			Description="Sound synthesis and music programming language" 
			Target="[SC3INSTALLLOCATION]SuperCollider.exe" 
			WorkingDirectory="SC3INSTALLLOCATION"/>
		<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
		<RegistryValue Root="HKCU" Key="Software\Microsoft\SuperCollider3" 
			Name="installed" Type="integer" Value="1" KeyPath="yes"/>
	</Component>
</DirectoryRef>

<Feature Id="ProductFeature" Title="SuperCollider" Description="SuperCollider 3 for Windows (with Psycollider IDE)" Level="1">
	<ComponentRef Id="ProductComponent" />
	<ComponentRef Id="SCextensions" />
	<ComponentRef Id="ApplicationShortcut" />
</Feature>

<!-- Do not change the comment just below here. It's used for substitution -->
<!-- SUBST:SPLITHERE -->

<Feature Id="VCRedist" Title="Visual C++ 9.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
    <MergeRef Id="VCRedist"/>
    <MergeRef Id="VCRedistPolicy"/>
</Feature>

<!-- UIRef Id="WixUI_InstallDir" / -->
<UIRef Id="WixUI_Minimal" /> 
<WixVariable Id="WixUILicenseRtf" Value="LicenseForWinInstaller.rtf" />
<!--
<WixVariable Id="WixUIBannerBmp" Value="Bitmaps/BannrBmp.bmp" />
<WixVariable Id="WixUIDlgBmp" Value="Bitmaps/DlgBmp.bmp" />
-->

</Product>
</Wix>
