# Appveyor config file for SuperCollider
# Author: Brian Heim
# Created on 2017-12-31
# See http://www.appveyor.com/docs/appveyor-yml

version: '{build}' # incremented with each build

# shallow_clone doesn't clone, repository is not git so can't get submodules
clone_depth: 10

# https://www.appveyor.com/docs/build-environment/#build-worker-images
image: Visual Studio 2013

# disable automatic tests
test: off

environment:
    CMAKE_CONFIGURATION: Release
    ASIO_URL: "http://www.steinberg.net/sdk_downloads/asiosdk2.3.zip"
    ASIO_ZIP: asiosdk2.3.zip

    matrix:
        - QT_DIR: "C:/Qt/5.5/msvc2013"
          CMAKE_GENERATOR: "Visual Studio 12 2013"
          FFTW_URL: ftp://ftp.fftw.org/pub/fftw/fftw-3.3.5-dll32.zip
          ARCH: "x86"

        - QT_DIR: "C:/Qt/5.5/msvc2013_64"
          CMAKE_GENERATOR: "Visual Studio 12 2013 Win64"
          FFTW_URL: ftp://ftp.fftw.org/pub/fftw/fftw-3.3.5-dll64.zip
          ARCH: "x64"

install:
- ps: echo "Install phase start"

- ps: $env:PROGFILES = if ($env:ARCH -eq "x64") { 'Program Files' } else { 'Program Files (x86)' }

- cmd: echo "Get submodules"
- cmd: git submodule update --init --recursive

# Install libsndfile, FFTW, and ASIO SDK. Note that DirectX SDK, Windows SDK are already installed.
- cmd: echo "Install 3rd-party tools"
- cmd: mkdir 3rdparty && cd 3rdparty

# libsndfile using hosted repository. Couldn't find a way to get the installer to work silently.
- cmd: echo "Install libsndfile"
- cmd: mkdir libsndfile && cd libsndfile
- cmd: git clone https://github.com/brianlheim/libsndfile-windows-%ARCH% libsndfile
- cmd: set MEGANERD_DIR=C:/%PROGFILES%/Mega-Nerd
- cmd: mkdir "%MEGANERD_DIR%"
- cmd: move libsndfile "%MEGANERD_DIR%/libsndfile"
- cmd: cd .. && echo "Done installing libsndfile"

# FFTW3, including lib prep
- cmd: echo "Install fftw"
- cmd: mkdir fftw && cd fftw
# can't use appveyor DownloadFile because it's FTP
- ps: Invoke-WebRequest $env:FFTW_URL -OutFile fftw.zip
- ps: 7z x fftw.zip -y
- cmd: "\"C:/Program Files (x86)/Microsoft Visual Studio 12.0/VC/bin/lib\" /machine:%ARCH% /def:libfftw3f-3.def"
- cmd: cd ..
- cmd: move fftw "C:/%PROGFILES%/fftw"
- cmd: echo "Done installing fftw"

# ASIO SDK
- cmd: echo "Install asio_sdk"
- cmd: mkdir asio_sdk && cd asio_sdk
- appveyor DownloadFile %ASIO_URL%
- ps: 7z x $env:ASIO_ZIP -y
- cmd: move ASIOSDK2.3 "%APPVEYOR_BUILD_FOLDER%\external_libraries\asiosdk"
- cmd: cd .. && echo "Done installing asio_sdk"

- cmd: cd .. && echo "Done installing 3rd-party tools"

- cmd: echo "Install phase end"

before_build:
- set PATH=%QT_DIR%\bin;%PATH%
- mkdir build
- cd build

build_script:
- cmake -G "%CMAKE_GENERATOR%" -D CMAKE_PREFIX_PATH=%QT_DIR% ..
- cmake --build . --target install --config %CMAKE_CONFIGURATION%

# after_build instead of before_deploy so artifacts are collected at the right time
after_build:
# required for github releases
- git fetch --tags
- ps: $env:S3_BUILDS_LOCATION="builds/supercollider/supercollider/win"
- ps: $env:S3_URL="https://supercollider.s3.amazonaws.com/$env:S3_BUILDS_LOCATION/SC-$env:APPVEYOR_REPO_COMMIT.zip"
- ps: $env:FWD_HTML="<html><head><meta http-equiv=""refresh"" content=""0; url='$env:S3_URL'"" /></head></html>"
- ps: $env:BRANCH_ESC=$env:APPVEYOR_REPO_BRANCH -replace '/', ''
- ps: cd $env:APPVEYOR_BUILD_FOLDER
- ps: mkdir artifacts/branch
- ps: echo $env:FWD_HTML > artifacts/$env:BRANCH_ESC-latest.html
- ps: ls artifacts
- ps: 7z a artifacts/SC-$env:APPVEYOR_REPO_COMMIT.zip -tzip -mx=9 build/Install/SuperCollider
- ps: echo $env:APPVEYOR_REPO_TAG_NAME
- ps: >-
    If ($env:APPVEYOR_REPO_TAG_NAME -ne "") {
        $env:TAG_ESC=$env:APPVEYOR_REPO_TAG_NAME -replace '/', ''
        mkdir artifacts/tag
        echo $env:FWD_HTML > artifacts/$env:TAG_ESC.html
    }

after_deploy:
- ps: echo S3 Build Location = $env:S3_URL

artifacts:
    - path: artifacts
      name: art_folder

deploy:
# s3 upload - every commit
- provider: S3
  access_key_id: $(AWS_KEY)
  secret_access_key: $(AWS_SECRET)
  bucket: supercollider
  region: us-west-2
  folder: $(S3_BUILDS_LOCATION)
  artifact: art_folder
  unzip: true
  set_public: true

notifications:
    - provider: Webhook
      url: https://webhooks.gitter.im/e/0f811b8a74efd99f4a4e
      on_build_status_changed: true
      on_build_failure: true
      on_build_success: false
