[submodule "external_libraries/nova-simd"]
	path = external_libraries/nova-simd
	url = git://supercollider.git.sourceforge.net/gitroot/supercollider/nova-simd
[submodule "external_libraries/nova-tt"]
	path = external_libraries/nova-tt
	url = git://supercollider.git.sourceforge.net/gitroot/supercollider/nova-tt
[submodule "external_libraries/boost_lockfree"]
	path = external_libraries/boost_lockfree
	url = git://supercollider.git.sourceforge.net/gitroot/supercollider/boost-lockfree
