<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PortNumber</key>
	<real>9989</real>
	<key>BlockSize</key>
    <real>64</real>
	<key>MemorySize</key>
	<integer>8192</integer>
	<key>NumWireBufs</key>
	<integer>64</integer>
	<key>BeatDiv</key>
    <real>8</real>	
	<key>DoNoteOn</key>	
	<true/>	
</dict>
</plist>