:root {
    --color-bg: #000;
    --color-text: #ccc;
    --color-accent: #555;
}

h1, h2, h3, h4, h5, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

body, html, textarea, input, button, a {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.0;
    font-size: x-large;
}


input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--color-accent);
}

button {
    outline: 0;
    background-color: var(--color-accent);
}

#console {
    width: 100%;
    border-width: 0;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
