:root {
    --menu-bar-height: 33px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: var(--color-fg);
    background: var(--color-bg);
}

input, select, textarea {
    color: var(--color-input-fg);
    background: var(--color-input-bg)
}

div.contents {
    margin: 0;
    padding: calc(var(--menu-bar-height) + .5em) 1em 1em;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
    margin: 0.7em 0;
    width: 100%;
    table-layout: auto;
}
table td {
    border: 1px solid var(--color-fg-200);
    padding: 0.3em;
}

table table {
    margin: 0em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    /* The menu bar takes some pixels which we need to respect
    when jumping to an anchor. */
    scroll-margin-top: var(--menu-bar-height);
}

a:link, a:visited, a:link:hover {
    text-decoration: none;
    color: var(--color-link);
}

a:link:hover {
    text-decoration: underline;
}

#inheritedclassmets, #inheritedinstmets {
    margin-top: 1em;
}

.inheritedmets_class {
    font-weight: bold;
    color: var(--color-fg-300);
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.inheritedmets_class a {
    color: var(--color-fg-400);
}
ul.inheritedmets {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2em;
    margin-top: 0.25em;
}
ul.inheritedmets li {
    font-family: monospace;
}
a.inheritedmets_toggle {
    font-size: 9pt;
    color: var(--color-fg-300);
    font-weight: normal;
/*    margin-left: 2em;*/
}

a.inheritedmets_toggle:hover {
    text-decoration: none;
    color: var(--color-fg);
}

input {
    max-width: 100%;
}

a.subclass_toggle {
    color: var(--color-fg-200);
    font-weight: normal;
}

a.subclass_toggle:hover {
    text-decoration: none;
    color: var(--color-fg);
}


#menubar {
    position: fixed;
    text-indent: 0;
    width: 100%;
    height: var(--menu-bar-height);
    padding: 0.5em 0;
    background-color: var(--color-bg);
    box-shadow: 0em 0em 0.25em var(--color-fg-200);
    z-index: 2;
}

#nav {
    padding: 0;
    margin: 0;
}

#menubar .menuitem {
    padding: 0;
    margin: 0;
    border-right: 1px solid var(--color-fg-100);
    font-size: 10pt;
    display: inline-block;
    vertical-align: top;
}

#menubar .menuitem .home {
    /* It is better to make the logo a background image instead of an <img> because it is purely
    decorative. */
    background-image: url("../images/SC_icon.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 1.5em;
    display: inline-block;
}

a.menu-link {
    color: var(--color-fg-300);
    padding: 0 0.75em 0 0.75em;
    /* This ensures that the logo isn't cut off. */
    min-height: 1.5em;
    /* This gets the text to vertically center. Discovered by accident. */
    line-height: 1.5em;
}
a.menu-link:hover {
    text-decoration: none;
    color: var(--color-fg-200);
}

li.menuitem a.menu-link.home {
    padding-left: 2.5em;
}

#menubar .menuitem .home a:hover {
    /* Lighten the background image by adding a translucent white layer over it. */
    background-color: rgba(255, 255, 255, 0.2);
}

#menubar .menuitem a.home span,
#menubar .toc-link span {
    display: none;
}

@media (max-width: 320px) {
    #toc-container {
        display: none;
    }
}

/* show theme selector only if there is enough space */
@media (max-width: 600px) {
    #menubar .menuitem:last-child {
        visibility: hidden;
    }
}

@media (min-width: 512px) {
    #menubar .menuitem .home a {
        padding-left: 2.5em;
    }

    #menubar .menuitem a.home span,
    #menubar .toc-link span {
        display: initial;
    }
}

#menubar .menuitem:last-child {
    border-right: none;
}

#topdoctitle {
    font-style: italic;
    color: var(--color-fg-300);
    cursor: pointer;
}

.submenu, #toc {
    position: absolute;
    top: var(--menu-bar-height);
    padding: 0.5em;
    display: none;
    background-color: var(--color-bg);
    border: thin solid var(--color-fg-100);
}

.submenu a {
        position: relative;
        display: block;
        margin: 0;
/*      padding: 5px 10px;*/
        padding: 0.2em;
        width: auto;
        white-space: nowrap;
        text-align: left;
/*      text-decoration: none;*/
        color: var(--color-fg-400);
        font-weight: bold;
}

.toc_search {
    margin-left: 10px;
    color: var(--color-fg-200);
    font-size: 9pt;
}

.toc_search input {
    border: 1px solid var(--color-fg-100);
}


.header {
  padding-bottom: 0.18em;
}

#label {
    color: var(--color-fg-300);
    font-size: 0.9em;
}

#summary {
    font-weight: normal;
    font-size: 1.1em;
    font-style: italic;
    color: var(--color-fg-300);
}
#related {
    font-weight: bold;
    margin-top: 0.5em;
}
#filename {
    word-break: break-all;
}
.headerimage {
    float: right;
    margin-right: 1ex;
}

#superclasses {
    font-size: 9pt;
    color: var(--color-fg-400);
    font-weight: normal;
}

.extension-indicator-ctr {
    float: right;
    font-size: 12pt;
    padding: 0.4em 0.4em 0.2em 0.4em;
    background-color: var(--color-extensions-bg);
    color: var(--color-extensions-fg);
    border-radius: 3px;
    border-bottom: 2px solid var(--color-fg);
}

.extension-indicator-icon {
    height: 1em;
    margin-right: 0.5em;
}

.extension-indicator-text {
    line-height: 1em;
}

.subheader {
    font-size: 9pt;
    color: var(--color-fg-400);
    margin-top: 1em;
}

.jump {
    text-align: right;
    font-size: 9pt;
    color: var(--color-fg-300);
}
.jump a {
    font-weight: bold;
    padding-top:0;
    margin-top:0;
}

a.footnote {
    font-size: 9pt;
    top: -0.1em;
}
div.footnotes {
    border-top: 1px solid var(--color-fg-200);
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 2em;
}
div.footnote {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 9pt;
}

.soft {
    color: var(--color-fg-300);
}

h1 {
    margin: 0.1em 0;
    font-size: 2.6em;
    margin-bottom: 0em;
}

h2 {
    border-bottom: 1px solid var(--color-fg-100);
    margin-top: 1.0em;
    text-align: left;
    margin-bottom: 2px;
    font-size: 1.6em;
}

h3 {
    margin-top: 2.0em;
    margin-bottom: 1px;
    text-align: left;
    font-size: 1.4em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0em;
    color: var(--color-fg-300);
}

h1,
h2,
h3,
h4 {
    word-wrap: break-word;
}

/* https://css-tricks.com/hash-tag-links-padding/ */
.anchor::before {
    content: " ";
    margin-top: -3em;
    height: 3em;
    visibility: hidden;
    pointer-events: none;
}

a.method-name::before {
    display: inline-block;
    content: " ";
    margin-top: -5em;
    height: 5em;
    visibility: hidden;
    pointer-events: none;
}

dt {
    font-weight: bold;
}
dd {
    margin-top: 0.25em;
    margin-bottom: 1.25em;
}

code, pre {
    font-family: monospace;
    font-size: 9pt;
}

pre {
    border-left: 2px solid var(--color-fg-200);
    padding-left: 1em;
}

.image {
    text-align: center;
    margin: 2em;
    font-size: 9pt;
}

.image img {
    margin-bottom: 1em;
    max-width: 100%;
}

.methprefix {
    font-weight: normal;
    color: var(--color-fg-300);
    padding-right: 0.5em;
    margin-left: -1em;
}

.method-code {
    font-family: monospace;
    font-weight: normal;
    font-size: 1.05em !important;
    margin-bottom: 0em;
    margin-top: 0.75em;
    padding: 0.25em;
    border: none;
    padding-left: 4em;
    text-indent: -4em;
}

a.method-name {
    color: var(--color-fg);
    font-weight: bold;
}

.method {
    margin-left: 2em;
    margin-bottom: 2em;
}

.argstr {
    white-space: nowrap;
}

.extmethod {
    font-size: 9pt;
    color: var(--color-fg-400);
    padding-left: 0.2em;
}

.supmethod {
    font-size: 9pt;
    color: var(--color-fg-400);
    padding-left: 0.2em;
}

table.arguments {
    margin-left: 1.5em;
    margin-bottom: 0em;
    margin-top: 0.5em;
    border-collapse: collapse;
}

table.arguments td.argumentname, td.argumentdesc {
    vertical-align: top;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

td.argumentname {
    font-weight: bold;
}

div.returnvalue {
    margin-left: 2em;
}

td p {
    margin-top: 0em;
}

.note, .warning {
/*    border-left: 4px solid #eea;*/
    background: var(--color-warning-bg);
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.notelabel, .warninglabel {
    font-weight: bold;
}
.warninglabel {
    color: var(--color-warning-fg);
}

/*.version {
    font-size: 9pt;
    border-top: 1px solid #bbb;
    color: #999;
    text-align: right;
    margin-top: 2em;
}*/

.doclink {
    font-size: 9pt;
    color: var(--color-fg-300);
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 1px solid var(--color-fg-100);
}
.doclink a {
    color: var(--color-fg-400);
    word-wrap: break-word;
}

#toc-container {
    float: right;
}

#toc {
    width: 20em;
    max-height: calc(100vh - 2.5em);
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    right: 0;
    line-height: 130%;
}
#toctitle {
    font-weight: bold;
    font-size: 120%;
    margin: 0.7em 0.5em;
    color: var(--color-fg-400);
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul.toc {
    list-style-type: none;
    margin: 0;
    padding: 0.15em 0;
}
ul.toc ul {
    margin-left: 1em;
    padding: 0.15em 0;
}
ul.toc li {
    margin: 0;
    padding: 0.15em 0;
}

ul.toc li a {
    display: block;
    padding: 0 8px 0 8px;
}

ul.toc li a:hover {
    background: var(--color-fg-100);
}

.toc1 {
    font-weight: bold;
}
.toc1 a {
    color: var(--color-fg-300);
}
.toc2 {
    font-weight: normal;
}
.toc2 a {
    color: var(--color-fg-300);
}
.toc3 {
    font-family: monospace;
    font-weight: normal;
/*    font-size: 9.5pt;*/
}
.toc3 a {
    color: var(--color-fg-300);
}

ul.tree, ul.tree ul {
 list-style-type: none;
 background: url("./../images/vline.png") repeat-y;
 margin: 0;
 padding: 0;
 margin-left: 1em;
}

ul.tree ul {
 margin-left: 15px;
}

ul.tree li {
 margin: 0;
 padding: 0 12px;
 line-height: 20px;
 background: url("./../images/node.png") no-repeat;
/* color: #369;
 font-weight: bold;*/
}

ul.tree li:last-child {
 background: var(--color-bg) url("./../images/lastnode.png") no-repeat;
}

/* is this still used? */
:target {
    border-bottom: 6px solid var(--color-warning-bg);
    padding-top:20px;
    margin-top:-20px;
}

a.undoc {
    text-decoration: line-through;
    opacity: 50%;
}

/* from HelpSource/Search.html */

div#search_box {
    margin: 1.5em;
    text-align: center;
}

#search_input {
    border: 1px solid var(--color-fg-200);
    margin-left: 0.5em;
}
div#search_count {
    border-bottom: 2px solid var(--color-fg-200);
    color: var(--color-fg-400);
}

div.result_category {
    color: var(--color-fg-300);
    margin-top: 1em;
    margin-bottom: 0.5em;
/*    font-size: 9.5pt;
    border-bottom: 1px solid #ccc;*/
    font-weight: bold;
/*    font-size: 11pt;*/
}
div.met_docs {
    margin-bottom: 0.2em;
/*    margin-left: 2em;*/
}
div.met_subclasses {
    font-size: 9pt;
    color: var(--color-fg-300);
    margin-left: 3em;
    text-align: left;
}
div.met_subclasses a {
    color: var(--color-fg-400);
}
div.met_subclasses a.seemore {
    margin-left: 0.2em;
    color: var(--color-fg-400);
}
#search_checks {
    padding: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 9pt;
    color: var(--color-fg-300);
    background: var(--color-fg-100);
}
#search_checks0 {
    font-size: 9pt;
    color: var(--color-fg-300);
    border-bottom: 1px solid var(--color-fg-100);
    margin-top: 1em;
    padding-bottom: 1em;
}
table#search_settings {
    font-size: 9pt;
    color: var(--color-fg-300);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
#search_settings td {
    border: none;
    padding: 2px;
}
#random {
    text-align: right;
    font-size: 9pt;
}
#js_error {
    font-family: Andale Mono, monospace;
    font-size: 9pt;
    color: var(--color-warning-fg);
}

/* from Methods.html in HelpSource/Overview/ */

.method_item {
    margin-top: 1em;
}

.method_doc {
    margin-bottom: 0.2em;
    margin-left: 2em;
}
div.met_subclasses {
    font-size: 9pt;
    color: var(--color-fg-300);
    margin-left: 3em;
    text-align: left;
}
div.met_subclasses a {
    color: var(--color-fg-400);
}

div.met_subclasses a.seemore {
    margin-left: 0.2em;
    color: var(--color-fg-300);
}

.method_name {
    font-family: Andale Mono, monospace;
    font-size: 9.5pt;
}
#method_note {
    font-size: 9pt;
    color: var(--color-fg-200);
    border-top: 1px solid var(--color-fg-100);
    text-align: center;
    margin-top: 2em;
}
#total_count {
    font-size: 9pt;
    color: var(--color-fg-300);
}
.searchlink {
    background: var(--color-bg);
    text-align: center;
    font-size: 9pt;
    padding: 0.25em;
    margin: 0.25em 0;
}

/* from Documents.html and Classes.html in HelpSource/Overview/ */
#doclist {
    margin-top: 1em;
}
.result_item {
    margin-left: 1.5em;
    margin-top: 0.2em;
}
#total_count {
    font-size: 9pt;
    color: var(--color-fg-200);
}

.subheader {
    color: var(--color-fg);
}

/* Copy button */
.codeMirrorContainer {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 4px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    z-index: 1;

    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}

.codeMirrorContainer:hover .copy-button,
.codeMirrorContainer:hover .copy-ico {
    opacity: 1;
    visibility: visible;
}

.codeMirrorContainer:not(:hover) .check-ico {
    opacity: 0;
    visibility: hidden;
}

.copy-ico,
.check-ico {
    width: 20px;
    height: 20px;
    display: block;
    font-size: 18px;
    color: var(--color-cm-comment);
    transition: color 0.3s ease, opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.copy-ico:hover {
    color: var(--color-cm-class);
}

.copy-button.copied .copy-ico {
    display: none;
}

.copy-button.copied .check-ico {
    animation: fadeCheckmark 1.4s ease forwards;
    visibility: visible;
}

@keyframes fadeCheckmark {
    0% {
        opacity: 0;
    }
    10%,
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
