Package: supercollider3
Version: 3.1.1
Section: sound
Priority: optional
Architecture: i386
Essential: no
Depends: jackd, libasound
Pre-Depends: perl 
Recommends: qjackctl
Suggests: emacs22
Installed-Size: 1024
Maintainer: Marije Baalman [nescivi@gmail.com]
Provides: supercollider3
Description: SuperCollider is an environment and programming language for real time audio synthesis and algorithmic composition. It provides an interpreted object-oriented language which functions as a network client to a state of the art, realtime sound synthesis server.

