<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Synthdef</key>
	<string>fedDelay</string>
	<key>Params</key>
	<array>
		<dict>
			<key>ParamName</key>
			<string>tap1Time</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>2.0</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict>
		<dict>
			<key>ParamName</key>
			<string>tap1Feedback</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>1</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict> 
		<dict>
			<key>ParamName</key>
			<string>tap2Time</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>2.0</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict>
		<dict>
			<key>ParamName</key>
			<string>tap2Feedback</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>1</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict> 
		<dict>
			<key>ParamName</key>
			<string>tap3Time</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>2.0</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict>
		<dict>
			<key>ParamName</key>
			<string>tap3Feedback</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>1</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict> 
		<dict>
			<key>ParamName</key>
			<string>tap4Time</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>2.0</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict>
		<dict>
			<key>ParamName</key>
			<string>tap4Feedback</string>
			<key>MinValue</key>
			<real>0</real>
			<key>MaxValue</key>
			<real>1</real> 
			<key>DefaultValue</key>
			<real>0</real>
		</dict> 
	</array>
</dict>
</plist>