[Desktop Entry]
Name=SuperCollider IDE
GenericName=SuperCollider IDE
Exec=scide %F
Icon=sc_ide
Type=Application
Terminal=false
Patterns=*.scd;*.sc;*.schelp
Categories=Application;Multimedia;Audio;AudioVideo
MimeType=text/x-sc;
