body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
    background: white;
/*    max-width: 60em;*/
/*    margin-left: 20em;*/
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    margin: 0 0 1px;
}

div.contents {
    margin: 1em;
    text-align: justify;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
    margin-top: 1em;
    margin-left: 2em;
}
table td {
    border: 1px solid #ddd;
    padding: 0.3em;
}

table table {
    margin: 0em;
}

p {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #449;
    /* add padding to work around "text-decoration: underline" not
     * having effect when hovered if font size less then 11pt */
    padding-bottom: 1px;
}

a:hover {
    text-decoration: underline;
}

#inheritedclassmets, #inheritedinstmets {
    margin-top: 1em;
}

.inheritedmets_class {
    font-weight: bold;
    color: #555;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.inheritedmets_class a {
    color: #333;
}
ul.inheritedmets {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2em;
    margin-top: 0.25em;
}
ul.inheritedmets li {
    font-family: monospace;
}
a.inheritedmets_toggle {
    font-size: 9pt;
    color: #558;
    font-weight: normal;
/*    margin-left: 2em;*/
}

a.inheritedmets_toggle:hover {
    text-decoration: none;
    color: #000;
}

a.subclass_toggle {
    color: #555;
    font-weight: normal;
}

a.subclass_toggle:hover {
    text-decoration: none;
    color: #000;
}


#menubar {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: fixed;
/*    background: #555;*/
    background: #eee;
    top: 0px;
    padding: 2px;
    margin: 0px;
    border-bottom: 1px solid #bbb;
/*    border-bottom: 2px solid #999;*/
    z-index: 30;
}

#menubar .menuitem {
    list-style: none;
    float:left;
    margin:0;
    padding:0px;
    padding-left: 0.75em;
    padding-right: 0.75em;
/*    border-right: 1px solid #999;*/
    border-right: 1px solid #ddd;
    font-size: 10pt;
    display: block;
}

.menuitem a {
/*    color: #ddd;*/
    color: #666;
}
.menuitem a:hover {
    text-decoration: none;
    color: black;
}

#topdoctitle {
/*    font-weight: bold;*/
    font-style: italic;
/*    color: #fff;*/
    color: #444;
    cursor: pointer;
}

.submenu {
    margin-top: 2px;
    padding: 0.5em;
    background: #eee;
    display: none;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.submenu a {
        position: relative;
		display: block;
		margin: 0;
/*		padding: 5px 10px;*/
        padding: 0.2em;
		width: auto;
		white-space: nowrap;
		text-align: left;
/*		text-decoration: none;*/
		color: #447;
		font-weight: bold;
}

.toc_search {
    margin-left: 10px;
    color: #999;
    font-size: 9pt;
}

.top_search input {
    border: 1px solid #ddd;
}

a.navlink {
/*    color: #fff;*/
    color: #447;
    font-weight: bold;
}


.header {
    border-bottom: 3px solid #000;
}
#label, #label a {
    font-weight: bold;
    color: #999;
    border-bottom: 1px solid #bbb;
}
#summary {
    font-weight: normal;
}
#categories {
    color: #888;
    font-size: 9pt;
}
#related {
    text-align: left;
    font-weight: bold;
    margin-top: 0.5em;
}
#filename {
    word-break: break-all;
}
.headerimage {
    float: right;
    margin-right: 1ex;
}

.subheader {
    text-align: right;
    font-size: 9pt;
    color: #444;
}

.jump {
    text-align: right;
    font-size: 9pt;
    color: #555;
}
.jump a {
    font-weight: bold;
    padding-top:0;
    margin-top:0;
}

a.footnote {
    font-size: 9pt;
    top: -0.1em;
}
div.footnotes {
    border-top: 1px solid #aaa;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 2em;
}
div.footnote {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 9pt;
}

.soft {
    color: #777;
}

h1 {
    margin: 0.1em 0;
    font-size: 3em;
    margin-bottom: 0em;
}

h2 {
    border-bottom: 2px solid #ccc;
    margin-top: 1.0em;
    text-align: left;
    margin-bottom: 2px;
    font-size: 1.7em;
}

h3 {
    margin-bottom: 2px;
    text-align: left;
    font-size: 1.4em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0em;
    color: #777;
    border-bottom: 1px solid #ddd;
}

dt {
    font-weight: bold;
}
dd {
    margin-top: 0.25em;
    margin-bottom: 1.25em;
}

code, pre {
    font-family: monospace;
    font-size: 9pt;
}

pre {
    border-left: 2px solid #e0e0e0;
    padding-left: 1em;
}

code.code, pre.code {
}

pre.code {

}

.image {
    text-align: center;
    margin: 2em;
    font-size: 9pt;
}

.image img {
    margin-bottom: 1em;
}

.methprefix {
    font-weight: normal;
    color: #777;
    padding-right: 0.5em;
    margin-left: -1em;
}

.methodname, .imethodname, .cmethodname {
    font-family: monospace;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0em;
    margin-top: 0.75em;
    padding: 0.25em;
    border: none;
    background: #e7ebe7;
}

.methodname a, .imethodname a, .cmethodname a {
    color: black;
    font-weight: bold;
}

.method {
    margin-left: 2em;
    margin-bottom: 2em;
}

.argstr {
    white-space: nowrap;
}

.extmethod {
    font-size: 9pt;
    color: #444;
    background: #fee;
    padding-left: 0.2em;
    text-align: right;
}

.supmethod {
    font-size: 9pt;
    color: #444;
    background: #ffe;
    padding-left: 0.2em;
    text-align: right;
}

table.arguments {
    margin-left: 1.5em;
    margin-bottom: 0em;
    margin-top: 0.5em;
    border-collapse: collapse;
}

table.arguments td.argumentname, td.argumentdesc {
    vertical-align: top;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

td.argumentname {
    font-weight: bold;
}

div.returnvalue {
    margin-left: 2em;
}

td p {
    margin-top: 0em;
}

.note, .warning {
/*    border-left: 4px solid #eea;*/
    background: #f7f7d7;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.notelabel, .warninglabel {
    font-weight: bold;
}
.warninglabel {
    color: red;
}

/*.version {
    font-size: 9pt;
    border-top: 1px solid #bbb;
    color: #999;
    text-align: right;
    margin-top: 2em;
}*/

.doclink {
    font-size: 9pt;
    color: #888;
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 1px solid #ddd;
}
.doclink a {
    color: #444;
}

#sidetoc {
    position: fixed;
    display: block;
    width: 18em;
    left: 0px;
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow: auto;
/*    background: #eee;*/
    background: #fff;
    border-right: 1px solid #bbb;
}

#sidetoc a:hover {
    text-decoration: none;
    color: black;
}

#toc {
    margin: 0;
    padding: 10px 2px 10px 2px;
    min-width: 20em;
    line-height: 130%;
    display: none;
    overflow: auto;
    background: #fff;
    position: absolute;
    border: 1px solid #aaa;
    margin-top: 2px;
    border-radius: 4px;
}
#toctitle {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
    font-weight: normal;
    color: #777;
}

li {
    padding-bottom: 0.5em;
}

ul.toc {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.toc ul {
    margin-left: 1em;
}
ul.toc li {
    margin: 0;
    padding: 0;
}

ul.toc li a {
    display: block;
    padding: 0 8px 0 8px;
}

ul.toc li a:hover {
    background: #eee;
}

.toc1 {
    font-weight: bold;
}
.toc1 a {
    color: #444;
}
.toc2 {
    font-weight: normal;
}
.toc2 a {
    color: #444;
}
.toc3 {
    font-family: monospace;
    font-weight: normal;
/*    font-size: 9.5pt;*/
}
.toc3 a {
    color: #555;
}

a.popoutlink {
    float: right;
    font-size: 9pt;
    color: #558;
    padding-right: 8px;
    display: inline-block;
}

ul.tree, ul.tree ul {
 list-style-type: none;
 background: url(images/vline.png) repeat-y;
 margin: 0;
 padding: 0;
 margin-left: 1em;
}

ul.tree ul {
 margin-left: 15px;
}

ul.tree li {
 margin: 0;
 padding: 0 12px;
 line-height: 20px;
 background: url(images/node.png) no-repeat;
/* color: #369;
 font-weight: bold;*/
}

ul.tree li:last-child {
 background: #fff url(images/lastnode.png) no-repeat;
}

:target {
    border-bottom: 6px solid rgba(255,255,0,0.4);
    padding-top:20px;
    margin-top:-20px;
}

a.undoc {
    color: #88b;
    text-decoration: line-through;
}

/* auto class links. note that color can be overridden by prettify rules below */
a.clslnk {
}

/* Pretty printing styles. Used with prettify.js. */

.str { color: #070; } /* strings */
.kwd { color: #880; } /* special values like true, nil.. */
.com { color: #822; } /* comments */
.typ { color: #008; } /* class names */
.lit { color: #066; } /* numbers and character literals */
.pun { color: #555; } /* punctuation */
.pln { color: #000; } /* plain text, methods and variable names */
.tag { color: #059; } /* special variables like super, thisProcess... */
.dec { color: #508; } /* declarations like var, const... */
.atn { color: #285; } /* symbols */
.atv { color: #750; } /* environment vars */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
