body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 2em;
/*    margin-right: auto;*/
    margin-top: 2em;
    color: black;
    max-width: 60em;
    margin-bottom: 3em;
    text-align: justify;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
    margin-top: 1em;
    margin-left: 2em;
}
table td {
    border: 1px solid #ddd;
    padding: 0.3em;
}

table table {
    margin: 0em;
}

p {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #33a;
}

a:hover {
    text-decoration: underline;
}

table.headMenu {
    margin: 0px;
    width: 100%;
/*    margin-left: 0px;
    margin-right: auto;*/
/*    border-collapse: separate;*/
    font-size: 9pt;
    border-top: 1px solid #ccc;
}

table.headMenu td {
    padding: 2px;
/*    width: 15%;*/
    border: none;
    text-align: center;
/*    background: #eee;*/
/*    border: 1px solid #ddd;*/
/*    padding-right: 2em;*/
}

table.headMenu td a {
    color: #777;
}

.header {
/*    background: #c6d0c6;*/
/*    background: #ccc;*/
    background: #d8dfd8;
    padding: 0.5em;
    border: 1px solid #bbb;
}
#label, #label a {
    text-align: left;
    font-weight: bold;
    color: #777;
/*    font-size: 8pt;*/
}
#summary {
    font-weight: bold;
}

.headerimage {
float: right;
margin-right: 1ex;
}

.subheader {
    text-align: right;
    font-size: 9pt;
    color: #333;
}

a.footnote {
    font-size: 9pt;
    top: -0.1em;
}
div.footnotes {
    border-top: 1px solid #aaa;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 2em;
}
div.footnote {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 9pt;
/*    text-indent: -2em;
    padding-left: 2em;*/
}

#related {
    font-weight: bold;
    margin-top: 0.5em;
}

/*#related a {
    font-weight: normal;
}*/

.inheritance, #filename {
/*    background: #ffe;*/
}

/*#inheritance, #related {
    margin-left: 0.5em;
    border-top: 1px solid #aaa;
}
#categories {
    color: #888;
}
*/

.soft {
    color: #777;
}

h1 {
    margin: 0.1em 0;
    font-size: 2.5em;
/*        border-top: 1px solid #aaa;*/
    letter-spacing: 0.05em;
    margin-bottom: 0em;
}

h2 {
    border-bottom: 4px solid #ccc;
/*    background: #ddd;
    padding-left: 0.15em;*/
    letter-spacing: 0.05em;
    margin-top: 1.5em;
    text-align: left;
    margin-bottom: 2px;
    font-size: 1.4em;
}

h3 {
    border-bottom: 2px solid #ccc;
/*    margin-bottom: 0.5em;*/
    margin-bottom: 2px;
/*    padding-left: 0.15em;*/
    text-align: left;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0em;
    color: #777;
    border-bottom: 1px solid #ddd;
/*    font-weight: normal;*/
}

dt {
    font-weight: bold;
}
dd {
/*    margin-top: -1em;*/
    margin-bottom: 0.5em;
}

/*ul, ol {
    margin-bottom: 2em;
}
li {
    line-height: 0em;
}
*/

code.code, pre.code {
    font-family: Andale Mono, monospace;
    font-size: 9.5pt;
    font-weight: normal;
    color: #121;
}

pre.code {
    padding: 0.5em;
    border: 1px solid #e0e0e0;
    background: #fcfcfc;
    font-size: 9pt;
}

code.formula, pre.formula {
    font-family: Andale Mono, monospace;
    font-size: 10pt;
    font-weight: normal;
    color: #333;
}

pre.formula {
    padding: 0.5em;
    border: 1px solid #e0e0e0;
    background: white;
    text-align: center;
}

.image {
    text-align: center;
    margin: 2em;
    font-size: 9pt;
}

.image img {
    margin-bottom: 1em;
}

.methprefix {
    font-weight: normal;
    color: #777;
    padding-right: 0.5em;
    margin-left: -1em;
}

.methodname, .imethodname, .cmethodname {
/*    border-bottom: 1px solid #bbb;*/
    font-family: Andale Mono, monospace;
/*    font-size: 9.5pt;*/
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0em;
    margin-top: 1em;
/*    padding-left: 0.2em;*/
    padding: 0.25em;
/*    border: 1px solid #ddd;*/
/*    border-bottom: 1px solid #bbb;*/
border: none;
}

.imethodname {
    background: #e7ebe7;
}

.methodname, .cmethodname {
    background: #e7e7eb;
}

.method {
    margin-left: 2em;
    margin-bottom: 2em;
}

.extmethod {
    font-size: 9pt;
    color: #444;
    background: #fee;
    padding-left: 0.2em;
    text-align: right;
}

.supmethod {
    font-size: 9pt;
    color: #444;
    background: #ffe;
    padding-left: 0.2em;
    text-align: right;
}

table.arguments {
    margin-left: 1.5em;
    margin-bottom: 0em;
    margin-top: 0.5em;
/*    border-top: 1px solid #bbb;*/
/*    border-bottom: 1px solid #bbb;*/
    border-collapse: collapse;
/*    border-left: 1px solid #bbb;*/
}

table.arguments td.argumentname, td.argumentdesc {
/*    margin-bottom: 0px;*/
/*    margin-top: 0px;*/
/*    font-weight: bold;*/
/*    padding-right: 1em;*/
    vertical-align: top;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

td.argumentname {
/*    font-family: Andale Mono, monospace;
    font-size: 9.5pt;*/
    font-weight: bold;
}

div.returnvalue {
    margin-left: 2em;
}

/*.argument {
    margin-left: 0em;
}*/

td p {
    margin-top: 0em;
}

/*.argument p:first-child {
    margin-top: 0px;
}
*/

.note, .warning {
/*    background: #eec;*/
    background: #ffe;
    border: 1px solid #dd9;
    padding: 1em;
/*    margin: 1.5em;*/
    margin: 1em;
}
.notelabel, .warninglabel {
    font-weight: bold;
}
.warninglabel {
    color: red;
}

.version {
    font-size: 9pt;
    border-top: 1px solid #bbb;
    color: #999;
    text-align: right;
    margin-top: 2em;
}

#toc {
    margin-bottom: 2em;
    padding: 0.5em;
    background: #eee;
    border: 1px solid #ccc;
/*    border-top: none;*/
    line-height: 130%;
}
#toctitle {
    font-weight: bold;
    color: #666;
    margin-top: 1em;
/*    border: 1px solid #ccc;
    background: #eee;
    padding-left: 0.5em;*/
    padding-bottom: 0.2em;
}
#toctitle a {
    font-size: 9pt;
    font-weight: normal;
}
ul.toc {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.toc ul {
    margin-left: 2em;
}
ul.toc li {
    margin: 0;
    padding: 0;
}
.toc1 {
    font-weight: bold;
/*    line-height: 2em;*/
/*    border-bottom: 1px solid #aaa;*/
/*    border-top: 4px solid transparent;*/
}
.toc1 a {
    color: black;
}
.toc2 {
}
.toc2 a {
    color: black;
}
.toc3 {
    font-family: Andale Mono, monospace;
/*    font-size: 9.5pt;*/
}
.toc3 a {
    color: #333;
}

ul.tree, ul.tree ul {
 list-style-type: none;
 background: url(images/vline.png) repeat-y;
 margin: 0;
 padding: 0;
 margin-left: 1em;
}

ul.tree ul {
 margin-left: 15px;
}

ul.tree li {
 margin: 0;
 padding: 0 12px;
 line-height: 20px;
 background: url(images/node.png) no-repeat;
/* color: #369;
 font-weight: bold;*/
}

ul.tree li:last-child {
 background: #fff url(images/lastnode.png) no-repeat;
}

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #880; }
.com { color: #822; }
.typ { color: #008; }
.lit { color: #066; }
.pun { color: #777; }
.pln { color: #000; }
.tag { color: #038; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #508; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
