@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Noto+Serif:wght@300;400;500;600;700&family=Noto+Sans+Mono:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif; 
    font-size: 1.24em;
    color: black;
    background: #eaeaea /* #e7e7e7 */;
    font-weight: normal;
    line-height: 1.5em /* 1.65em */;
    vertical-align: middle;
    text-align: justify;
    word-break: break-word;
    line-break: auto;
    /* -webkit-hyphens: auto; */
    /* -ms-hyphens: auto; */
    /* hyphens: auto; */
    /* font-stretch: ultra-condensed; */
}

div.contents {
    margin: 0;
    padding: calc(33px + .5em) 1em 1em;
    /* width: 1030px; */ /* for A4 */
    /* page-break-inside: avoid; */ /* the menubar is printed out on the first page only when the height of the first div too tall */
    /* transform: scale(0.975, 1); */
}

table {
    border-collapse: collapse;
    font-size: 0.92em /* inherit */;
    margin: 0.7em 0;
    width: 100%;
    table-layout: auto; 
    line-height: 1.6em;
    text-indent: 0;
    font-weight: normal;
    /* page-break-inside: avoid; */
    /* text-align: left; */
}
table td {
    border: 2px solid #ccc;
    padding: 0.5em;
    vertical-align: middle;
    text-indent: 0;
    background: #fafafa;
    /* white-space: nowrap; */
    word-break: keep-all;
}
td code {
    margin: 0.3em 0 0.3em;
}
td pre {
    margin: 0.3em 0 0.3em;
}
td ul {
    list-style-type: disc;
    margin-left: 1.34em;
    margin-top: 0 /* 0.8em */ ;
    margin-bottom: 0;
    padding: 0;
}
td li:first-child {
    margin-top: 0;
}
td li:last-child {
    margin-bottom: 0;
}
table table {
    margin: 1em 0em;
}
table table:first-child {
    margin-top: 0.2em;
}
table table:last-child {
    margin-bottom: 0.2em;
}
p {
    margin: 0.2em 0.2em;
    text-indent: 0em;
}
table table td {
    vertical-align: middle /* top */;
    font-size:/* inherit */ 1.05em;
    border: 1px solid #ccc;
    /* white-space: nowrap; */
    background: #f5f5f5
}

table table table {
    margin: 0.2em 0em 0.2em;
}

table table table td {
    vertical-align: middle /* top */;
    font-size: /* inherit */ 1.05em;
    border: 1px solid #ccc;
    /* white-space: nowrap; */
    background: #f0f0f0
}

table table ul {
    margin-bottom: 0em;
}

a:link, a:visited, a:link:hover {
    text-decoration: none;
    color: #449;
    /* word-break: break-all; */
}

a:link:hover {
    text-decoration: underline;
}

input {
    max-width: 100%;
}

#inheritedclassmets, #inheritedinstmets {
    margin-top: 1em;
}

.inheritedmets_class {
    font-weight: bold;
    color: #555;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.inheritedmets_class a {
    color: #333;
}
ul.inheritedmets {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2em;
    margin-top: 0.25em;
}
ul.inheritedmets li {
    font-family: /* 2Coding, */ 'Noto Mono', monospace;
}
a.inheritedmets_toggle {
    font-size: 0.9em;
    color: #558;
    font-weight: normal;
/*    margin-left: 2em;*/
}

a.inheritedmets_toggle:hover {
    text-decoration: none;
    color: #000;
}

a.subclass_toggle {
    color: #555;
    font-weight: normal;
}

a.subclass_toggle:hover {
    text-decoration: none;
    color: #000;
}

#menubar {
    position: fixed;
    text-indent: 0;
    width: 100%;
    height: 33px;
    padding: 0 0.5em;
    background-color: #f9f9f9;
    box-shadow: 0em 0em 0.25em rgba(128, 128, 128, 0.5);
    z-index: 2;
    border: 0;
    box-sizing: border-box;
    }

#nav {
    padding: 0;
    margin: 0;
}

#menubar .menuitem {
    padding: 0;
    margin: 0;
    border-right: 1px solid #ddd;
    font-size: 0.8em;
    display: inline-block;
}

#menubar .menuitem .home {
    /* It is better to make the logo a background image instead of an <img> because it is purely
    decorative. */
    background-image: url("images/SC_icon.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 1.1em;
}

a.menu-link {
    color: #666;
    padding: 0 0.75em 0 0.75em;
    /* This ensures that the logo isn't cut off. */
    min-height: 1.5em;
    /* This gets the text to vertically center. Discovered by accident. */
    line-height: 1.1em;
}
a.menu-link:hover {
    text-decoration: none;
    color: #999;
}

#menubar .menuitem .home a {
    /* The cube logo is actually *under* the <a>, but it shows through so that it looks like it
    is part of the link. */
    padding-left: 2em;
}

#menubar .menuitem .home a:hover {
    /* Lighten the background image by adding a translucent white layer over it. */
    background-color: rgba(255, 255, 255, 0.2);
}

#menubar .menuitem a.home span,
#menubar .toc-link span {
    display: none;
}

@media (max-width: 320px) {
    #toc-container {
        display: none;
    }
}

@media (min-width: 512px) {
    #menubar .menuitem .home a {
        padding-left: 2.5em;
    }

    #menubar .menuitem a.home span,
    #menubar .toc-link span {
        display: initial;
    }
}

#menubar .menuitem:last-child {
    border-right: none;
}

#topdoctitle {
/*    font-weight: bold;*/
    font-style: italic;
/*    color: #fff;*/
    color: #444;
    cursor: pointer;
}

.submenu, #toc {
    position: absolute;
    top: 33px;
    padding: 0.5em;
    display: none;
    background-color: #f9f9f9;
    border: thin solid #ddd;
}

.submenu a {
    position: relative;
    display: block;
    margin: 0;
/*      padding: 5px 10px;*/
    padding: 0.2em;
    width: auto;
    white-space: nowrap;
    text-align: left;
/*      text-decoration: none;*/
    color: #447;
    font-weight: bold;
}

.toc_search {
    margin-left: 1em;
    color: #999;
    font-size: 0.9em;
}

.toc_search input {
    border: 1px solid #ddd;
}


.header {
    padding-bottom: 0.18em;
}

#label {
    color: #666;
    font-size: 0.9em;
}

#summary {
    font-weight: normal;
    font-size: 1.1em;
    font-style: italic;
    color: #444;
}
#related {
    font-weight: bold;
    margin-top: 0.5em;
}
#filename {
    word-break: break-all;
}
.headerimage {
    float: right;
    margin-right: 1ex;
}

#superclasses {
    font-size: 0.35em;
    color: #444;
    font-weight: normal;
}

.extension-indicator-ctr {
    float: right;
    font-size: 0.5em;
    padding: 0.3em 0.4em 0.1em 0.3em;
    background-color: #601c8b;
    color: white;
    border-radius: 3px;
    border-bottom: 2px solid #39174F;
}

.extension-indicator-icon {
    height: 1em;
    margin-right: 0.5em;
}

.extension-indicator-text {
    line-height: 1em;
}

.subheader {
    font-size: 0.9em;
    color: #444;
    margin-top: 1em;
}

.jump {
    text-align: right;
    font-size: 0.9em;
    color: #555;
}
.jump a {
    font-weight: bold;
    padding-top:0;
    margin-top:0;
}

a.footnote {
    font-size: 0.9em;
    top: -0.1em;
}
div.footnotes {
    border-top: 1px solid #aaa;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 2em;
    padding-top: 0.5em;
}
div.footnote {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: left;
    padding-top: 0.5em;
    /*margin-left: 0.4em;*/
    /*padding-left: 2.01em;*/
    /* text-indent: -2.01em */
}

.soft {
    color: #777;
}

h1 {
    margin: 0.1em 0;
    font-size: 2.6em;
    line-height: 1.03em;
}

h2 {
    border-bottom: 1px solid #ddd;
    margin-top: 1.0em;
    text-align: left;
    margin-bottom: 1em /*2px*/;
    font-size: 1.4em;
    padding-bottom: 0.2em;
    width: 1030px /* This is also a guide to the width of text on printed paper. Use ctrl/cmd + F, then type 1030 and find the text width in @media print { dvi.contents { width: 1030px; } } */
}

h3 {
    margin-top: 2.0em;
    margin-bottom: 0.7em /*1px*/;
    text-align: left;
    font-size: 1.15em;
}

h4 {
    margin-top: 1.4em;
    margin-bottom: 0.4em /* 0em */;
    margin-left: 0em;
    color: #777;
    font-size: 1.05em;
    text-align: left;
}

h1,
h2,
h3,
h4 {
    word-wrap: break-word;
}

/* https://css-tricks.com/hash-tag-links-padding/ */
.anchor::before {
    content: "";
    margin-top: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
    padding-top: 0;
    display: inline;
}

a.method-name::before {
    display: inline-block;
    content: " ";
    margin-top: -5em;
    height: 0.5em;
    visibility: hidden;
    pointer-events: none;
}

dt {
    font-weight: 600;
}
dd {
    margin-top: 0.3em;
    margin-bottom: 1.2em;
    margin-left: 1.5em;
}

code, pre {
    font-family: /* D2Coding */ 'Noto Mono', monospace;
    font-size: 0.9em;
    background-color: whitesmoke;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: left;
    margin: 0.3em 0 0.3em;
    line-height: 1.95em;
    /* text-indent: 0; */
    padding-right: 0;
}

pre {
    border-left: 2px solid #e0e0e0;
    padding-left: 0.4em;
    margin: 0.3em 0 0.3em;
}

.image {
    text-align: center;
    margin: 0em;
    font-size: 0.95em;
    line-height: 1.3em;
}

.image img {
    margin-bottom: 0em;
    max-width: 100%;
    page-break-inside: avoid;
    /* transform: scale(1, 0.975) */
}

.methprefix {
    font-weight: normal;
    color: #777;
    padding-right: 0.5em;
    margin-left: -1em;
}

.method-code {
    font-family: /* D2Coding */ 'Noto Mono', monospace;
    font-weight: normal;
    font-size: 1.05em !important;
    margin-bottom: 0em;
    margin-top: 0.3em;
    padding: 0.25em;
    border: none;
    padding-left: 4em;
    text-indent: -4em;
}

a.method-name {
    color: black;
    font-weight: bold;
}

.method {
    margin-left: 2em;
    margin-bottom: 1em;
}

.argstr {
    white-space: nowrap;
}

.extmethod {
    font-size: 0.9em;
    color: #444;
    padding-left: 0.2em;
    text-align: left;
}

.supmethod {
    font-size: 0.9em;
    color: #444;
    padding-left: 0.2em;
}

table.arguments {
    margin-left: 1.5em;
    margin-bottom: 0em;
    margin-top: 0.5em;
    border-collapse: collapse;
    width: auto;
}

table.arguments td.argumentname, td.argumentdesc {
    vertical-align: top;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

td.argumentname {
    font-weight: bold;
    word-break: keep-all;
}

div.returnvalue {
    margin-left: 2em;
}

td p {
    margin-top: 0em;
    margin-bottom: 0em;
}

.note, .warning {
    border-top: 2px solid #EEE /* #eeb */;
    border-left: 2px solid #E3E3E3 /* #eea */;
    border-right: 4px solid #D5D5D5 /* #eed */;
    border-bottom: 4px solid #CCC /* #eec */;
    border-radius: 5px 20px / 5px;
    font-size: 0.92em;
    /* page-break-inside: avoid; */
    background-color: #DDDDDD /* #f7f7d7 */;
    padding: 0.5em 0.6em 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.notelabel, .warninglabel {
    font-weight: bold;
    /* display: block; */
}
.warninglabel {
    color: #CA4543;
}
.notelabel {
    color: #4480CF /* royalblue */;
}

/*.version {
    font-size: 9pt;
    border-top: 1px solid #bbb;
    color: #999;
    text-align: right;
    margin-top: 2em;
}*/

.doclink {
    font-size: 0.85em;
    color: #888;
    text-align: right;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    border-top: 1px solid #ddd;
    line-height: 1.1em;
}
.doclink a {
    color: #444;
    word-wrap: break-word;
}

#sidetoc {
    position: fixed;
    display: block;
    width: 18em;
    left: 0px;
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow: auto;
/*    background: #eee;*/
    background: #fff;
    border-right: 1px solid #bbb;
}

#sidetoc a:hover {
    text-decoration: none;
    color: black;
}

#toc-container {
    float: right;
    font-size: 1.12em;
}

#toc {
    width: auto;
    max-height: calc(100vh - 3em);
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    right: 0;
    line-height: 1.3em;
}
#toctitle {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.7em 0.5em;
    color: #333;
}

li {
    padding: 0.1em 0;
    margin-left: -0.07em;
    line-height: 1.65em;
    /* text-indent: 0; */
    text-align: left;
}
.warning li:last-child,
.note li:last-child {
    margin-bottom: -1em;
    padding-bottom: -1em;
}
.warninglabel + ul, .warninglabel + ol
.notelabel + ul, .notelabel + ol {
    margin-top: 0em;
    padding-top: 0em;
}
.warning td li:last-child,
.note td li:last-child {
    margin-bottom: 0.15em;
}
.note table, .warning table{
    margin-bottom: 0.15em;
}
td .warning:first-child,
td .note:first-child {
    margin-top: 0.15em;
}
ul + p, ol + p {
    margin-top: 0.2em;
    padding-top: 1em;
}

ul.toc {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.toc ul {
    margin-left: 1em;
}
ul.toc li {
    margin: 0;
    padding: 0;
}

ul.toc li a {
    display: block;
    padding: 0 8px 0 8px;
}

ul.toc li a:hover {
    background: #eee;
}

.toc1 {
    font-weight: bold;
}
.toc1 a {
    color: #444;
}
.toc2 {
    font-weight: normal;
}
.toc2 a {
    color: #444;
}
.toc3 {
    font-family:/* D2Coding */ 'Noto Mono', monospace;
    font-weight: normal;
    font-size: 0.9em
}
.toc3 a {
    color: #555;
}

ul.tree, ul.tree ul {
    list-style-type: none;
    background: url(images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

ul.tree ul {
    margin-left: 15px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 25px;
    background: url(images/node.png) no-repeat;
    /* color: #369;
 font-weight: bold;*/
}

ul.tree li:last-child {
    background: #f7f7f7 url(images/lastnode.png) no-repeat;
}

:target {
    border-bottom: 6px solid rgba(255,255,0,0.4);
    padding-top:20px;
    margin-top:-20px;
}

a.undoc {
    color: #88b;
    text-decoration: line-through;
}

/* from HelpSource/Search.html */

div#search_box {
    margin: 1.5em;
    text-align: center;
}

#search_input {
    border: 1px solid #aaa;
    background: #eee;
    margin-left: 0.5em;
}
div#search_count {
    border-bottom: 2px solid #aaa;
    color: #333;
}

div.result_category {
    color: #555;
    margin-top: 1em;
    margin-bottom: 0.5em;
    /*    font-size: 9.5pt;
    border-bottom: 1px solid #ccc;*/
    font-weight: bold;
/*    font-size: 11pt;*/
}
div.met_docs {
    margin-bottom: 0.2em;
    /*    margin-left: 2em;*/
}
div.met_subclasses {
    font-size: 0.9em;
    color: #777;
    margin-left: 3em;
    text-align: left;
}
div.met_subclasses a {
    color: #444;
}
div.met_subclasses a.seemore {
    margin-left: 0.2em;
    color: #558;
}
#search_checks {
    padding: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 0.9em;
    color: #555;
    background: #eee;
}
#search_checks0 {
    font-size: 0.9em;
    color: #555;
    border-bottom: 1px solid #ddd;
    margin-top: 1em;
    padding-bottom: 1em;
}
table#search_settings {
    font-size: 0.9em;
    color: #555;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
#search_settings td {
    border: none;
    padding: 2px;
}
#random {
    text-align: right;
    font-size: 0.9em;
}
#js_error {
    font-family: 'Roboto Mono', 'Andale Mono', monospace;
    font-size: 0.9em;
    color: red;
}

/* from Methods.html in HelpSource/Overview/ */

.method_item {
    margin-top: 1em;
}

.method_doc {
    margin-bottom: 0.2em;
    margin-left: 2em;
}
div.met_subclasses {
    font-size: 0.9em;
    color: #777;
    margin-left: 3em;
    text-align: left;
}
div.met_subclasses a {
    color: #444;
}

div.met_subclasses a.seemore {
    margin-left: 0.2em;
    color: #558;
}

.method_name {
    font-family: 'Roboto Mono', 'Andale Mono', monospace;
    font-size: 1.5em;
}
#method_note {
    font-size: 0.9em;
    color: #777;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 2em;
}
#total_count {
    font-size: 0.9em;
    color: #777;
}
.searchlink {
    background: #eed;
    text-align: center;
    font-size: 0.9em;
    padding: 0.25em;
    margin: 0.25em 0;
}

/* from Documents.html and Classes.html in HelpSource/Overview/ */
#doclist {
    margin-top: 1em;
}
.result_item {
    margin-left: 1.5em;
    margin-top: 0.2em;
}
#total_count {
    font-size: 0.9em;
    color: #777;
}
.CodeMirror-linenumber {
    min-width: 30px;
    margin-left: -9.5px;
}
.CodeMirror {
    margin: 0.75em 0 0.75em;
    /* background: ghostwhite; */
    font-family: /* D2Coding */ 'Noto Mono', monospace;
    font-size: 0.92em; /* 0.88em; */
    line-height: 1.5em /* 1.55em */ /* 1.65em */;
    /* width: auto; */
    /* padding: 0.3em 0.5em 0.2em; */
    /* page-break-inside: avoid; */
}
td:first-child .CodeMirror {
    margin-top: 0.15em;
}
td .CodeMirror:last-child,
.warning .CodeMirror:last-child,
.note .CodeMirror:last-child  { 
    margin-bottom: 0.15em;
}
.note p:last-child,
.warning p:last-child,
.table p:last-child {
    margin-bottom: 0; 
  }
/* 
.CodeMirror-cursors, .CodeMirror pre {
    padding: 0 0.1em; */
/* Horizontal padding of content */
/* } */
/*
.CodeMirror-lines {
    padding: 0.1em 0; /* Vertical padding around content */
    /*padding-bottom: -1em;
}
*/
/*
textarea.editor {
    opacity: 0;
}
*/

@media screen {       
}
@media print {
    /* 
    .nav {
        display: none;
    }
    a:: after {
        content: " <" attr(href) ">"; color: #666;
    }
    */
    @page {
        size: A4;
        margin-top: 30mm;
        margin-bottom: 27mm;
    }
    @page :left {
        margin-left: 14mm;
        margin-right: 14mm;
    }
    @page :right {
        margin-left: 14mm;
        margin-right: 14mm;
    }
    html, body {
        font-family: 'Noto Serif';
        padding: 0.6em 0 0;
    }
    div.contents {
        width: 1030px; /* for A4 */
    }
    table, dt, .image {
        font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    }
    #menubar,
    #menubar .menuitem .home,
    #menubar .menuitem,
    #menubar .toc-link {
        display: none;
    }
    /*
    #summary {
        display: none;
    }
    */
    #label {
        font-size: 0;
        margin-top: 0;
        line-height: 0
    }
    #folder {
        font-size: 0;
    }
    #categories {
        font-size: 0;
    }
    h1 {
        margin: 0;
        margin-top: -1em;
        font-size: 1.65em;
        /* line-height: 2.45em */
    }
    h2 {
        border-bottom: 1px solid #ddd;
        /* margin-top: 2.3em; */
        /* margin-bottom: 0.5em; */
        text-align: left;
        font-size: 1.4em;
        line-height: 2.15em
    }
    h3 {
        /* 
        margin-top: 2em;
        margin-bottom: 1px;
        */
        text-align: left;
        font-size: 1.15em;
        line-height: 1.85em
    }
    h4 {
        /* 
        margin-top: 1.4em;
        margin-bottom: 0;
        */
        margin-left: 0;
        color: #777;
        font-size: 1.05em;
        text-align: left;
        line-height: 1.55em
    }
    .subheader {
        display: none;
    }
    #related {
        font-size: 0;
        line-height: 0;
        margin-top: 0;
    }
    .doclink {
        display: none;
    }
}
