body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 2em;
/*    margin-right: auto;*/
    margin-top: 2em;
    color: black;
    max-width: 60em;
    text-align: justify;
    margin-bottom: 3em;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
    margin-top: 1em;
    margin-left: 2em;
}
table td {
    border: 1px solid #ddd;
    padding: 0.3em;
}

p {
    margin-top: 0.5em;
/*    margin-bottom: 0em;*/
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: #33a;
}

a:hover {
    text-decoration: underline;
}

.header {
/*    background: #c6d0c6;*/
/*    background: #ccc;*/
    background: #c8cfc8;
    padding: 0.5em;
/*    border: 1px solid #aaa;*/
}
.subheader {
    margin-bottom: 2em;
}

#summary {
    font-weight: bold;
}
#inheritance, #related {
    text-align: right;
    margin-left: 0.5em;
/*    border-top: 1px solid #aaa;*/
}

#label {
    text-align: left;
    font-weight: bold;
    color: #888;
/*    font-size: 8pt;*/
}
#categories {
    color: #888;
}

h1 {
    margin: 0.1em 0;
    font-size: 26pt;
/*        border-top: 1px solid #aaa;*/
    letter-spacing: 0.05em;
}

h2 {
/*    border-bottom: 3px solid #bbb;*/
    background: #ddd;
    padding-left: 0.15em;
    letter-spacing: 0.05em;
}

h3 {
    border-bottom: 2px solid #bbb;
    margin-bottom: 0.5em;
}

dt {
    font-weight: bold;
}
dd {
    margin-top: -1em;
}

/*ul, ol {
    margin-bottom: 2em;
}
li {
    line-height: 0em;
}
*/

code, pre {
    font-family: Andale Mono, monospace;
    font-size: 9.5pt;
    font-weight: normal;
    color: #141;
}

.methodname {
     /*border: none;
    background: #eee;*/
    border-bottom: 1px solid #bbb;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 0.5em;
    margin-top: 0em;
    padding-left: 0.2em;
}

.method {
    margin-left: 2em;
    margin-bottom: 2em;
}

table.arguments {
    margin-left: 0em;
    margin-bottom: 1em;
/*    border-top: 1px solid #bbb;*/
    border-collapse: separate;
}

td.argumentname {
    margin-bottom: 0px;
    margin-top: 0px;
/*    font-weight: bold;*/
/*    padding-right: 1em;*/
    background: #eee;
    font-family: Andale Mono, monospace;
}

table.arguments td {
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
/*    background: #eee;*/
}

/*.argument {
    margin-left: 0em;
}*/

td p {
    margin-top: 0em;
}

/*.argument p:first-child {
    margin-top: 0px;
}
*/

.note, .warning {
/*    background: #eec;*/
    background: #ffe;
    border: 1px solid #dd9;
    padding: 1em;
    margin: 1.5em;
}
.notelabel, .warninglabel {
    font-weight: bold;
}
.warninglabel {
    color: red;
}

ul.tree, ul.tree ul {
 list-style-type: none;
 background: url(images/vline.png) repeat-y;
 margin: 0;
 padding: 0;
}

ul.tree ul {
 margin-left: 10px;
}

ul.tree li {
 margin: 0;
 padding: 0 12px;
 line-height: 20px;
 background: url(images/node.png) no-repeat;
/* color: #369;
 font-weight: bold;*/
}

ul.tree li:last-child {
 background: #fff url(images/lastnode.png) no-repeat;
}

