# vs sql databases
*.sdf
*.opensdf

CMakeFiles/generate.stamp
editors/CMakeFiles/generate.stamp
editors/sc-ide/CMakeFiles/generate.stamp
external_libraries/CMakeFiles/generate.stamp
external_libraries/Debug/
external_libraries/boost_filesystem.dir/
external_libraries/boost_program_options.dir/
external_libraries/boost_system.dir/
external_libraries/boost_thread.dir/
external_libraries/hidapi/CMakeFiles/generate.stamp
external_libraries/hidapi/hidapi/CMakeFiles/generate.stamp
external_libraries/hidapi/hidapi_parser/CMakeFiles/generate.stamp
external_libraries/hidapi/hidapi_parser/Debug/
external_libraries/hidapi/hidapi_parser/hidapi_parser.dir/
external_libraries/hidapi/windows/CMakeFiles/generate.stamp
external_libraries/oscpack.dir/
external_libraries/portmidi.dir/
external_libraries/tlsf.dir/
external_libraries/yaml.dir/
lang/CMakeFiles/generate.stamp
lang/Debug/
lang/__/QtCollider/layouts/moc_layouts.cpp
lang/__/QtCollider/layouts/moc_stack_layout.cpp
lang/__/QtCollider/moc_LanguageClient.cpp
lang/__/QtCollider/moc_QObjectProxy.cpp
lang/__/QtCollider/moc_QWidgetProxy.cpp
lang/__/QtCollider/moc_QcApplication.cpp
lang/__/QtCollider/moc_QtDownload.cpp
lang/__/QtCollider/style/moc_style.cpp
lang/__/QtCollider/widgets/moc_BasicWidgets.cpp
lang/__/QtCollider/widgets/moc_QcButton.cpp
lang/__/QtCollider/widgets/moc_QcCanvas.cpp
lang/__/QtCollider/widgets/moc_QcCheckBox.cpp
lang/__/QtCollider/widgets/moc_QcFileDialog.cpp
lang/__/QtCollider/widgets/moc_QcGraph.cpp
lang/__/QtCollider/widgets/moc_QcKnob.cpp
lang/__/QtCollider/widgets/moc_QcLevelIndicator.cpp
lang/__/QtCollider/widgets/moc_QcListWidget.cpp
lang/__/QtCollider/widgets/moc_QcMultiSlider.cpp
lang/__/QtCollider/widgets/moc_QcNumberBox.cpp
lang/__/QtCollider/widgets/moc_QcPenPrinter.cpp
lang/__/QtCollider/widgets/moc_QcPopUpMenu.cpp
lang/__/QtCollider/widgets/moc_QcRangeSlider.cpp
lang/__/QtCollider/widgets/moc_QcScope.cpp
lang/__/QtCollider/widgets/moc_QcScopeShm.cpp
lang/__/QtCollider/widgets/moc_QcScrollArea.cpp
lang/__/QtCollider/widgets/moc_QcSlider.cpp
lang/__/QtCollider/widgets/moc_QcSlider2D.cpp
lang/__/QtCollider/widgets/moc_QcTextEdit.cpp
lang/__/QtCollider/widgets/moc_QcTextField.cpp
lang/__/QtCollider/widgets/moc_QcTreeWidget.cpp
lang/__/QtCollider/widgets/moc_QcWebView.cpp
lang/__/QtCollider/widgets/moc_QcWindow.cpp
lang/__/QtCollider/widgets/moc_web_page.cpp
lang/__/QtCollider/widgets/soundfileview/moc_view.cpp
lang/__/editors/sc-ide/primitives/moc_sc_ipc_client.cpp
lang/libsclang.dir/
lang/qrc_resources.cpp
lang/sclang.dir/
platform/CMakeFiles/generate.stamp
platform/windows/CMakeFiles/generate.stamp
server/CMakeFiles/generate.stamp
server/plugins/BinaryOpUGens.dir/
server/plugins/CMakeFiles/generate.stamp
server/plugins/ChaosUGens.dir/
server/plugins/Debug/
server/plugins/DelayUGens.dir/
server/plugins/DemandUGens.dir/
server/plugins/DynNoiseUGens.dir/
server/plugins/FFT_UGens.dir/
server/plugins/FilterUGens.dir/
server/plugins/GendynUGens.dir/
server/plugins/GrainUGens.dir/
server/plugins/IOUGens.dir/
server/plugins/LFUGens.dir/
server/plugins/ML_UGens.dir/
server/plugins/MulAddUGens.dir/
server/plugins/NoiseUGens.dir/
server/plugins/OscUGens.dir/
server/plugins/PV_ThirdParty.dir/
server/plugins/PanUGens.dir/
server/plugins/PhysicalModelingUGens.dir/
server/plugins/ReverbUGens.dir/
server/plugins/TestUGens.dir/
server/plugins/TriggerUGens.dir/
server/plugins/UIUGens.dir/
server/plugins/UnaryOpUGens.dir/
server/plugins/UnpackFFTUGens.dir/
server/scsynth/CMakeFiles/generate.stamp
server/scsynth/Debug/
server/scsynth/libscsynth.dir/
server/scsynth/scsynth.dir/
testsuite/CMakeFiles/generate.stamp
testsuite/sclang/CMakeFiles/generate.stamp
x64/

SuperCollider.v12.suo
editors/sc-ide/SuperCollider.dir/
editors/sc-ide/__/__/QtCollider/layouts/moc_stack_layout.cpp
editors/sc-ide/__/__/QtCollider/widgets/moc_web_page.cpp
editors/sc-ide/core/moc_doc_manager.cpp
editors/sc-ide/core/moc_main.cpp
editors/sc-ide/core/moc_sc_process.cpp
editors/sc-ide/core/moc_sc_server.cpp
editors/sc-ide/core/moc_session_manager.cpp
editors/sc-ide/core/moc_sig_mux.cpp
editors/sc-ide/core/settings/moc_manager.cpp
editors/sc-ide/core/settings/moc_theme.cpp
editors/sc-ide/qrc_resources.cpp
editors/sc-ide/scide.qm
editors/sc-ide/scide_de.qm
editors/sc-ide/scide_es.qm
editors/sc-ide/scide_fr.qm
editors/sc-ide/scide_ja.qm
editors/sc-ide/scide_pt.qm
editors/sc-ide/scide_ru.qm
editors/sc-ide/scide_sl.qm
editors/sc-ide/scide_sv.qm
editors/sc-ide/scide_zh.qm
editors/sc-ide/ui_settings_dialog.h
editors/sc-ide/ui_settings_editor.h
editors/sc-ide/ui_settings_general.h
editors/sc-ide/ui_settings_sclang.h
editors/sc-ide/ui_settings_shortcuts.h
editors/sc-ide/widgets/code_editor/moc_autocompleter.cpp
editors/sc-ide/widgets/code_editor/moc_editor.cpp
editors/sc-ide/widgets/code_editor/moc_highlighter.cpp
editors/sc-ide/widgets/code_editor/moc_line_indicator.cpp
editors/sc-ide/widgets/code_editor/moc_overlay.cpp
editors/sc-ide/widgets/code_editor/moc_sc_editor.cpp
editors/sc-ide/widgets/moc_audio_status_box.cpp
editors/sc-ide/widgets/moc_cmd_line.cpp
editors/sc-ide/widgets/moc_doc_list.cpp
editors/sc-ide/widgets/moc_documents_dialog.cpp
editors/sc-ide/widgets/moc_editor_box.cpp
editors/sc-ide/widgets/moc_find_replace_tool.cpp
editors/sc-ide/widgets/moc_goto_line_tool.cpp
editors/sc-ide/widgets/moc_help_browser.cpp
editors/sc-ide/widgets/moc_lang_status_box.cpp
editors/sc-ide/widgets/moc_lookup_dialog.cpp
editors/sc-ide/widgets/moc_main_window.cpp
editors/sc-ide/widgets/moc_multi_editor.cpp
editors/sc-ide/widgets/moc_popup_text_input.cpp
editors/sc-ide/widgets/moc_post_window.cpp
editors/sc-ide/widgets/moc_session_switch_dialog.cpp
editors/sc-ide/widgets/moc_sessions_dialog.cpp
editors/sc-ide/widgets/moc_tool_box.cpp
editors/sc-ide/widgets/settings/moc_dialog.cpp
editors/sc-ide/widgets/settings/moc_editor_page.cpp
editors/sc-ide/widgets/settings/moc_general_page.cpp
editors/sc-ide/widgets/settings/moc_sclang_page.cpp
editors/sc-ide/widgets/settings/moc_shortcuts_page.cpp
editors/sc-ide/widgets/util/moc_color_widget.cpp
editors/sc-ide/widgets/util/moc_docklet.cpp
editors/sc-ide/widgets/util/moc_key_sequence_edit.cpp
editors/sc-ide/widgets/util/moc_path_chooser_widget.cpp
editors/sc-ide/widgets/util/moc_popup_widget.cpp
editors/sc-ide/widgets/util/moc_text_format_list_widget.cpp
editors/sc-ide/widgets/util/moc_volume_widget.cpp
external_libraries/Release/
lang/Release/
server/plugins/Release/
server/scsynth/Release/
